@charset "UTF-8";

body {
	background-color: teal;
	color: black;
	font-family: monaco,Consolas,Lucida Console,monospace;
}

header {
	background-color:grey;
	font-size:30px;
}

header a {
	margin-left:10px;
	background-color:yellow;
}

.right {
	float: right;
}
